@import "footer/footer";
@import "header/header";
@import "nav/nav";
@import "user-nav/user-nav";
@import "social-list/social-list";
@import "hero/hero";
@import "advantages/advantages";
@import "popular-recipes/popular-recipes";
@import "recipes/recipes";
@import "best-authors/best-authors";
@import "articles/articles";
@import "best-recipes/best-recipes";
@import "all-recipes/all-recipes";
@import "recipes-catalog/recipes-catalog";
@import "recipes-filter/recipes-filter";
@import "pagination/pagination";
