-
  var recipes = [
    {
      name: "Картофель Айдахо",
      ingredients: "7",
      author: "Иван Кириллов",
      img: "static/images/content/idaho-potatoes.jpg",
      description: "Один из самых часто приготовляемых картофельных гарниров в мире",
      likes: "258",
      views: "10781",
      link: "#",
      width: "380",
      height: "200"
    },
    {
      name: "Брускетта с помидорами",
      ingredients: "8",
      author: "Анна Сафронова",
      img: "static/images/content/bruschetta-with-tomatoes.jpg",
      description: "Вкусная итальянская закуска, простейший способ почувствовать легкую сытость",
      likes: "169",
      views: "9372",
      link: "#",
      width: "380",
      height: "200"
    },
    {
      name: "Яблочный пирог",
      ingredients: "10",
      author: "Алексей Качеров",
      img: "static/images/content/apple-pie.jpg",
      description: "Пирог из терпких антоновских яблок с добавлением сметаны",
      likes: "184",
      views: "8795",
      link: "#",
      width: "380",
      height: "200"
    }
  ];
