include /dev/pug/modules/popular-recipes/popular-recipes-data

section.popular-recipes
  .container
    h2.popular-recipes__title.section__title Популярные рецепты
    include /dev/pug/modules/recipes-layout/recipes
