-
  var recipes = [
    {
      name: "Лазанья",
      ingredients: "10",
      author: "Иван Гарфилдов",
      img: "static/images/content/lasagna.jpg",
      description: "Традиционное итальянское блюдо с сыром, томатным соусом и мясным фаршем",
      likes: "234",
      views: "3271",
      link: "lasagna.html",
      width: "290",
      height: "145"
    },
    {
      name: "Гамбургер",
      ingredients: "8",
      author: "Антон Киселев",
      img: "static/images/content/hamburger.jpg",
      description: "Классический американский сендвич с мясной котлетой, салатом и огурчиками",
      likes: "323",
      views: "9134",
      link: "#",
      width: "290",
      height: "145"
    },
    {
      name: "Ризотто с морепродуктами",
      ingredients: "9",
      author: "Елизавета Потемкина",
      img: "static/images/content/risotto.jpg",
      description: "Один из многочисленных вариантов знаменитого итальянского блюда",
      likes: "125",
      views: "3251",
      link: "#",
      width: "290",
      height: "145"
    },
    {
      name: "Вок с говядиной терияки",
      ingredients: "6",
      author: "Иван Кириллов",
      img: "static/images/content/wok.jpg",
      description: "Лапша в кисло-сладком соусе. В этот блюде сочетается все: овощи, лапша и мясо",
      likes: "921",
      views: "6821",
      link: "#",
      width: "290",
      height: "145"
    },
    {
      name: "Домашние пельмени",
      ingredients: "5",
      author: "Алексей Качеров",
      img: "static/images/content/homemade-dumplings.jpg",
      description: "Традиционное блюдо русской кухни с начинкой из рубленого мяса",
      likes: "235",
      views: "5621",
      link: "#",
      width: "290",
      height: "145"
    },
    {
      name: "Салат Цезарь",
      ingredients: "10",
      author: "Елизавета Потемкина",
      img: "static/images/content/сaesar-salad.jpg",
      description: "Классический салат американской кухни с курицей и овощами",
      likes: "596",
      views: "4752",
      link: "#",
      width: "290",
      height: "145"
    }
  ];
