.recipe-ingredients {
  margin: 0 0 90px 0;
}

.recipe-ingredients__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -40px -20px 0;
}

.recipe-ingredients__inner {
  flex: 0 0 50%;
  padding: 40px 20px 0;
}

.recipe-ingredients__box {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  padding: 16px 30px 24px 20px;
}

.recipe-ingredients__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 0 12px 0;
}

.recipe-ingredients__list {
  display: flex;
  flex-direction: column;
}

.recipe-ingredients__item {
  align-items: baseline;
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin: 0 0 15px 0;
  }
}

.recipe-ingredients__component {
  flex: 0 0 auto;
  line-height: 1;
  padding-right: 10px;
}

.recipe-ingredients__line {
  background-color: $yellow-color;
  flex: 1 0 auto;
  height: 1px;
}

.recipe-ingredients__count {
  flex: 0 0 auto;
  line-height: 1;
  padding-left: 10px;
}
