-
  var articles = [
    {
      name: "Как выбрать сковороду",
      img: "static/images/content/article-1.jpg",
      date: "20.08.21",
      href: "#"
    },
    {
      name: "5 секретов выбора вкусного авокадо",
      img: "static/images/content/article-2.jpg",
      date: "17.08.21",
      href: "#"
    },
    {
      name: "Идеальный бутерброд",
      img: "static/images/content/article-3.jpg",
      date: "11.08.21",
      href: "#"
    }
  ];
