-
  var articles = [
    {
      name: "Как выбрать сковороду",
      img: "static/images/content/article-1.jpg",
      date: "20.08.21",
      href: "#"
    },
    {
      name: "5 секретов выбора вкусного авокадо",
      img: "static/images/content/article-2.jpg",
      date: "17.08.21",
      href: "#"
    },
    {
      name: "Идеальный бутерброд",
      img: "static/images/content/article-3.jpg",
      date: "11.08.21",
      href: "#"
    }
  ];

section.articles
  .container
    h2.articles__title.section__title Статьи
    ul.articles__list
      each article in articles
        li.articles__item
          a.articles__link(href= article.href)
            img.articles__img(src= article.img alt="Статья #{article.name}" width="380" height="245")
            span.articles__date= article.date
            span.articles__name= article.name
              .
                <svg class="articles__icon" width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.2045 2.79549C11.7652 2.35616 11.7652 1.64384 12.2045 1.2045C12.6438 0.765165 13.3562 0.765165 13.7955 1.2045L19.7955 7.2045C20.2348 7.64384 20.2348 8.35616 19.7955 8.79549L13.7955 14.7955C13.3562 15.2348 12.6438 15.2348 12.2045 14.7955C11.7652 14.3562 11.7652 13.6438 12.2045 13.2045L16.284 9.125H1.75C1.12868 9.125 0.625 8.62132 0.625 8C0.625 7.37868 1.12868 6.875 1.75 6.875H16.284L12.2045 2.79549Z" fill="#FFD84E"/>
    .articles__bottom
      a.articles__more(href="#") Ещё

