extends layout/main

block variables
  - var title = 'Каталог рецептов'
  - var pageClass = 'catalog-page'
  - var userLogin = true

block content
  main(class=pageClass)
    include modules/hero/hero
    include modules/best-recipes/best-recipes
    include modules/all-recipes/all-recipes
