extends layout/main

block variables
  - var title = 'Главная страница'
  - var pageClass = 'index-page'
  - var userLogin = false

block content
  main(class=pageClass)
    include modules/hero/hero
    include modules/advantages/advantages
    include modules/popular-recipes/popular-recipes
    include modules/best-authors/best-authors
    include modules/articles/articles
