-
  var authors = [
    {
      name: "Иван Кириллов",
      recipesCount: "14",
      photo: "static/images/content/author-kirrilov.png"
    },
    {
      name: "Алексей Качеров",
      recipesCount: "10",
      photo: "static/images/content/author-kachetov.png"
    },
    {
      name: "Анна Сафронова",
      recipesCount: "9",
      photo: "static/images/content/author-safronova.png"
    }
  ];
