// Colors
$white: #ffffff;
$black: #000000;
$light-black-color: #151515;
$light-grey-color: #727272;
$yellow-color: #ffd84e;
$yellow-light-color: #ffe483;
$text-gray-color: #b6b6b6;
$red-color: #ff5151;
$text-color: #222222;

// Sizes
$base-font-size: 16px;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content: 1300px;

// Fonts
$main-font: "Golos", "Arial", sans-serif;
$decor-font: "Caveat", "Arial", sans-serif;
