.recipes {
  display: flex;
  flex-wrap: wrap;
  margin: -40px -20px 0;
}

.recipes__item {
  display: flex;
  flex: 0 0 33.33%;
  padding: 40px 20px 0;
  position: relative;
}

.recipes__inner {
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba($black, 0.07);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.recipes__img {
  flex: 0 0 auto;
  object-fit: cover;
  width: 100%;
}

.recipes__box {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px 15px 25px;
}

.recipes__author {
  color: $text-gray-color;
  font-size: 12px;
  line-height: 13px;
  margin: 0 0 1px 0;
}

.recipes__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 0 6px 0;
}

.recipes__description {
  margin: 0 0 16px 0;
}

.recipes__ingredients {
  background-color: $white;
  border-radius: 4px;
  font-size: 12px;
  line-height: 13px;
  left: 32px;
  max-width: 50%;
  padding: 2px 6px;
  position: absolute;
  top: 52px;
}

.recipes-catalog .recipes__ingredients {
  left: 28px;
  top: 48px;
}

.recipes__wrapper {
  align-items: center;
  display: flex;
  margin: auto 0 0 0;
}

.recipes__link {
  background-color: $yellow-color;
  border-radius: 4px;
  color: $text-color;
  display: inline-block;
  line-height: 19px;
  margin: 0 17px 0 0;
  padding: 5px 12px;
  text-decoration: none;
  transition: all ease-out 0.15s;

  &:hover {
    background-color: $yellow-light-color;
  }
}

.recipes__stats {
  align-items: center;
  display: flex;

  &:not(:last-child) {
    margin: 0 10px 0 0;
  }
}

.recipes__count {
  display: inline-block;
  font-size: 12px;
  line-height: 13px;
  margin: 0 0 0 5px;
}
