-
  var recipe = {
    name: "Лазанья",
    description: "Вид итальянской пасты, представляющий из себя пласты теста их твёрдых сортов пшеницы, которые прослаивают разнообразной начинкой и запекают. Лазанья — это традиционное блюдо итальянской кухни, и существует множество вариантов его приготовления. Сегодня мы будем готовить лазанью с мясным фаршем и соусом Бешамель.",
    timePrepare: "50 минут",
    persons: "4 персоны",
    ingredients: "10 ингредиентов",
    previewImg: "static/images/content/lasagna-big.jpg",
    authorName: "Иван Гарфилдов",
    authorPhoto: "static/images/content/author-garfildow.png",
    publicationDate: "25.09.21",
    composition: {
      "Лазанья": [
        {
          component: "Фарш (говядина + свинина)",
          count: "1 кг"
        },
        {
          component: "Листы лазаньи",
          count: "200 г"
        },
        {
          component: "Помидоры",
          count: "500 г"
        },
        {
          component: "Морковь",
          count: "150 г"
        },
        {
          component: "Лук",
          count: "200 г"
        },
        {
          component: "Сыр пармезан",
          count: "250г"
        },
        {
          component: "Чеснок",
          count: "2 зубчика"
        },
        {
          component: "Соль",
          count: "по вкусу"
        }
      ],
      "Соус Бешамель": [
        {
          component: "Молоко",
          count: "1 л"
        },
        {
          component: "Мука",
          count: "100 г"
        },
        {
          component: "Масло сливочное",
          count: "100 г"
        },
        {
          component: "Мускатный орех",
          count: "1 чайная ложка"
        }
      ]
    },
    steps: [
      "Обжариваем лук с морковью и чесноком 10 минут и добавляем фарш, тушим все вместе еще 5 минут",
      "Добавляем в фарш томаты и тушим еще 15 минут",
      "Для соуса Бешамель обжариваем муку на сливочном масле и добавляем молоко, тушим 10 минут",
      "Выкладываем на противень листы лазаньи, сверху фарш с овощами и соус Бешамель, посыпаем сыром и в духовку на 30 минут при 180˚"
    ]
  }
