.all-recipes {
  margin: 0 0 90px 0;
}

.all-recipes__wrapper {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 0 0 53px 0;
}

.all-recipes .recipes__box {
  padding: 21px 15px 25px;
}

.all-recipes .recipes__name {
  margin: 0 0 4px 0;
}

.all-recipes .all-recipes__wrapper {
  margin: 0 0 48px 0;
}
