ul.social-list
  li.social-list__item
    a.social-list__link(href="#" target="_blank" rel="nofollow noopener")
      span.visually-hidden Ссылка на instagram
      +icon('icon-instagram', 'social-list__icon', '29', '29')
  li.social-list__item
    a.social-list__link(href="#" target="_blank" rel="nofollow noopener")
      span.visually-hidden Ссылка на telegram
      +icon('icon-telegram', 'social-list__icon', '31', '27')
  li.social-list__item
    a.social-list__link(href="#" target="_blank" rel="nofollow noopener")
      span.visually-hidden Ссылка на vkontakte
      +icon('icon-vk', 'social-list__icon', '35', '23')
  li.social-list__item
    a.social-list__link(href="#" target="_blank" rel="nofollow noopener")
      span.visually-hidden Ссылка на youtube
      +icon('icon-youtube', 'social-list__icon', '31', '23')
