-
  var recipes = [
    {
      name: "Брауни",
      ingredients: "6",
      author: "Елизавета Потемкина",
      img: "static/images/content/brownie.jpg",
      description: "Шоколадный брауни с ванильным ароматом и хрустящая корочка",
      likes: "596",
      views: "4752",
      link: "#",
      width: "380",
      height: "200"
    },
    {
      name: "Крем-суп из тыквы",
      ingredients: "12",
      author: "Анна Сафронова",
      img: "static/images/content/cream-pumpkin-soup.jpg",
      description: "Тыквенный солено-сладкий суп с добавлением ростков пшеницы",
      likes: "452",
      views: "7574",
      link: "#",
      width: "380",
      height: "200"
    },
    {
      name: "Оладьи",
      ingredients: "7",
      author: "Анастасия Иванова",
      img: "static/images/content/pancakes.jpg",
      description: "Классические пышные, воздушые и сладкие оладьи",
      likes: "329",
      views: "6213",
      link: "#",
      width: "380",
      height: "200"
    }
  ];

section.best-recipes
  .container
    h2.best-recipes__title.section__title Лучшие рецепты
    include /dev/pug/modules/recipes-layout/recipes
