include /dev/pug/modules/best-recipes/best-recipes-data

section.best-recipes
  .container
    h2.best-recipes__title.section__title Лучшие рецепты
    include /dev/pug/modules/recipes-layout/recipes
