-
  var recipes = [
    {
      name: "Брауни",
      ingredients: "6",
      author: "Елизавета Потемкина",
      img: "static/images/content/brownie.jpg",
      description: "Шоколадный брауни с ванильным ароматом\u00A0\и\u00A0\хрустящая корочка",
      likes: "596",
      views: "4752",
      link: "#",
      width: "380",
      height: "200"
    },
    {
      name: "Крем-суп из тыквы",
      ingredients: "12",
      author: "Анна Сафронова",
      img: "static/images/content/cream-pumpkin-soup.jpg",
      description: "Тыквенный солено-сладкий суп с\u00A0\добавлением ростков пшеницы",
      likes: "452",
      views: "7574",
      link: "#",
      width: "380",
      height: "200"
    },
    {
      name: "Оладьи",
      ingredients: "7",
      author: "Анастасия Иванова",
      img: "static/images/content/pancakes.jpg",
      description: "Классические пышные, воздушые и\u00A0\сладкие оладьи",
      likes: "329",
      views: "6213",
      link: "#",
      width: "380",
      height: "200"
    }
  ];
